# Set the default behavior for text files
* text=auto

# Declare text files that will always have LF line endings in the repository
*.anim text eol=lf
*.asset text eol=lf
*.controller text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.asmdef text eol=lf
*.shader text eol=lf

# Declare binary files (so Git doesn't try to change their line endings)
*.dll binary
*.exe binary
*.unitypackage binary
*.fbx binary
*.obj binary
*.tga binary
*.psd binary
*.mp3 binary
*.ogg binary
*.wav binary
*.jpg binary
*.png binary
*.gif binary
*.mp4 binary
*.mov binary
*.avi binary
*.ttf binary
*.otf binary
# Aggiungi qui altre estensioni di file binari che usi nel tuo progetto
